.row,
.c {
  box-sizing: border-box;
  margin: 10px 0;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.c {
  position: relative;
  float: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.c + .c {
  margin-left: 1.6%;
}

.c-1 {
  width: 6.86666666667%;
}

.c-2 {
  width: 15.3333333333%;
}

.c-3 {
  width: 23.8%;
}

.c-4 {
  width: 32.2666666667%;
}

.c-5 {
  width: 40.7333333333%;
}

.c-6 {
  width: 49.2%;
}

.c-7 {
  width: 57.6666666667%;
}

.c-8 {
  width: 66.1333333333%;
}

.c-9 {
  width: 74.6%;
}

.c-10 {
  width: 83.0666666667%;
}

.c-11 {
  width: 91.5333333333%;
}

.c-12 {
  width: 100%;
}

span.counter {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    font-weight: 900;
}

/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 45px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #eee;
  border:1px solid #c4c4c4;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #d33c43;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 11px;
  top: 6px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.error-message  {
    color: #d33c43;
}
